.container{
	display: flex;
}
.sidebar{
	background-color: rgba(189,152,109,.07);
	font-family:'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #000;
	line-height: 1.905rem;
	min-width: 230px;
	max-width: 230px;
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	/* height: 100%; */
}

.linked:hover {
	color: #913d47;
	cursor: pointer;
}

.sidebar .hr{
  border: 0;
  width: 90%;
}